@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');
main *{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200 !important;
  font-size: 12px;
}
h1{
  /*font-weight: 200 !important;*/
  font-size: 2rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.enter:hover{
  background: black;
  color: white;
}
.enter{
  padding: 10px 35px;
  background: white;
  font-size: 2rem;
  border: 2PX SOLID black;
  transition: all .35s;
  border-radius: 3px;
}
