@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

.cf-input p{
    margin: -2px 0 0 0;
}

.admin-color-control{
    display:none;
}
/*STRIPE*/
/**/
/**/
/*LOADER*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #50aaed;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/**/
#payment-load-animation *{
  opacity: 1 !important;
}
#payment-load-animation #secure-payment-img{
  left: 9%;
  top: -100px;
}
#thanks-for-choosing{
  font-size: 1.1rem;
  margin: 5px;
}
#loading-payment{
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 5000;
  justify-content: center;
  align-items: center;
}
#payment-load-animation p{
  font-weight: 400;
  position: absolute;
  color: #50aaed;
  left: 20%;
  margin: 65px 0 0 0;
}
#payment-load-animation{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  /*background: rgba(0,0,0, .1);*/
  z-index: 5;
}
#payment-form-stripe span{
  color:  #50aaed;
}
#payment-form-stripe:hover{
  opacity: 1;
}
#payment-form-stripe{
  transition: all .4s;
  opacity: .6;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: .8rem;
  color: black;
}
#payment-headline{
  padding: 10px;
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  color: black;
}
#payment-confirm{
  color: #50aaed;
  font-weight: 400;
}
#type-confirm{
  color: #50aaed;
  font-weight: 400;
}
#payment-form-exit:hover{
  background: #50aaed;
  color: white;
}
#payment-form-exit{
  transition: all .4s;
  border-radius: 3px;
  color: #50aaed;
  font-weight: 400;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 3px 10px 5px 10px;
  background: white;
}
#payment-form{
  position: absolute;
  width: 100%;
  margin: -20px 0 0 0;
}
#secure-payment-img-in{
  width: 50px;
}
#secure-payment-img{
  opacity: .6;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#stripe-form-shade{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .5);
  height: 100%;
  width: 100%;
}
#stripe-form{
  z-index: 4000;
  position: fixed;
  width: 94%;
  border-radius: 5px;
  border: 2px solid #50aaed;
  left: 3%;
  top: 25%;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#payment-form button:hover{
  color:  #50aaed;
  background: white;
}
#payment-form button{
  transition: all .4s;
  margin: 10px;
  padding: 10px 15px;
  border: 2px solid #50aaed;
  background:  #50aaed;
  color: white;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.cf-input p{
    margin: -2px 0 0 0;
}

.admin-color-control{
    display:none;
}

.popup-confirm-section{
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0, .7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pop-confirm-wrap-p{
  padding: 10px;
  margin: -40px 0 0 0;
  font-size: 1rem;
}
.pop-confirm-wrap{
  position: absolute;
  top: 20%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 60vh;
  background: white;
  z-index: 15;
  border-radius: 5px;
}
#blue-check-mark{
  transition: all .6s;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 45%;
  width: 80px;
}
.pop-confirm-info p{
  padding: 10px;
}
.pop-confirm-btns{
  display: flex;
  width: 100%;
  margin: 70px 0 0 0;
}
.cont-edit:hover{
  font-size: 1rem;
  background: white;
  color: black;
}
.cont-edit{
  position: absolute;
  transition: all .4s;
  padding: 5px 15px;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 3px;
  margin: 1.9% 0 0 -5.5% ;
  background: black;
  color: white;
}
.vid-btn:hover{
  background: white;
  color: #50aaed;
}
.vid-btn{
  margin:10px auto 40px;
  transition: all .4s;
  width: 35%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #50aaed;
  border-radius: 3px;
  padding: 10px 25px;
  background: #50aaed;
}
.pop-confirm-info h4{
  font-size: 2rem;
}
.pop-confirm-info{
  padding: 10px;
}
.cf-input p{
    margin: -2px 0 0 0;
}

.admin-color-control{
    display:none;
}
.popup-confirm-section{
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0, .7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pop-confirm-wrap-p{
  padding: 10px;
  margin: -40px 0 0 0;
  font-size: 1rem;
}
.pop-confirm-wrap{
  position: absolute;
  top: 20%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 60vh;
  background: white;
  z-index: 15;
  border-radius: 5px;
}
#blue-check-mark{
  transition: all .6s;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 45%;
  width: 80px;
}
.pop-confirm-info p{
  padding: 10px;
  font-size: 1rem;
}
.pop-confirm-btns{
  display: flex;
  width: 100%;
  margin: 110px 0 0 0;
}
.cont-edit:hover{
  font-size: 1rem;
  background: white;
  color: black;
}
.cont-edit{
  position: absolute;
  transition: all .4s;
  padding: 5px 15px;
  border: 1px solid rgba(0,0,0, .5);
  border-radius: 3px;
  margin: 1.9% 0 0 -5.5% ;
  background: black;
  color: white;
}
.vid-btn:hover{
  background: white;
  color: #50aaed;
}
.vid-btn{
  margin:10px auto 40px;
  transition: all .4s;
  width: 35%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #50aaed;
  border-radius: 3px;
  padding: 10px 25px;
  background: #50aaed;
}
.pop-confirm-info h4{
  font-size: 2rem;
}
.pop-confirm-info{
  padding: 10px;
}
#color-picker-colors-back{
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  height: 100%;
}
.measurement-wrap h4{
    font-size: .8rem;
}
.active-black-background{
  color: white;
  background: black;
}
.active-white-background{
  color: black;
  background: white;
}

main{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300 !important;
  font-size: 12px;
}
main{
  background: url('https://cdn.shutterstock.com/shutterstock/videos/14097236/thumb/1.jpg?i10c=img.resize(height:160)');
  background-size: cover;
  background-position: center bottom;
}
.build-full{
  background: rgba(255,255,255, .8);
}
h1{
  font-size: 2rem;
  width: 30%;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0, .1);
  padding: 0 0 3px 0;
}
.build-full p{
  padding: 5px 0 0 0;
  letter-spacing: .1rem;
}
.build-full h1{
 margin:0px;
}
.build-full{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0 0 0;
}
.build-wrap{
  width: 100%;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.color-picker{
  position: relative;
  box-shadow: -1px 1px 6px rgba(0,0,0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 23%;
  height: 80vh;
  margin: 10px;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 5px;
}
.contact-form{
  padding: 10px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: -1px 1px 6px rgba(0,0,0, .3);
  position: relative;
  width: 18%;
  height: 80vh;
  margin: 10px;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 5px;
}
.color-nav-1:hover{
  border: 1px solid rgba(0,0,0, .9);
  border-bottom: none;
  background: rgba(0,0,0, 1);
  color: white;
}
.color-nav-1{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all .4s;
  position: absolute;
  width: 32%;
  font-size: .66rem;
  font-weight: 300;
  height: 25px;
  top: -25px;
  right: 1%;
  border: 1px solid rgba(0,0,0, .2);
  border-bottom: none;
}
.color-nav-2:hover{
  border: 1px solid rgba(0,0,0, .9);
  background: rgba(0,0,0, 1);
  color: white;
  border-bottom: none;
}
.color-nav-2{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all .4s;
  position: absolute;
  width: 32%;
  font-size: .66rem;
  font-weight: 300;
  height: 25px;
  top: -25px;
  left: 1%;
  border: 1px solid rgba(0,0,0, .2);
  border-bottom: none;
}
.color-nav-3:hover{
  border: 1px solid rgba(0,0,0, .9);
  border-bottom: none;
  background: rgba(0,0,0, 1);
  color: white;
}
.color-nav-3{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all .4s;
  position: absolute;
  width: 32%;
  font-size: .66rem;
  height: 25px;
  top: -25px;
  left: 34%;
  border: 1px solid rgba(0,0,0, .2);
  border-bottom: none;
}
.color-picker-colors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  padding: 20px 0 0 0 ;
  height: 100%;
}
.measurement-set{
  display: flex;
}
.measurement-set .color-single-wrap h4{
  font-size: .6rem;
}
.measurement-set h4{
  font-size: .7rem;
}
.measurement-wrap{
  text-transform: uppercase;
}
.color-picker-measurements{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 0 0px;
  width: 100%;
}
.single-measure-input{
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, .4);
  margin: 2px;
  padding: 0px;
  width: 80%;
  display: inline-block;
}
.measurement-wrap h4{
  margin: 0 0 0 8px;
}
.measurement-wrap{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.color-single img:hover{
  opacity: 1;
}
.color-single:hover{
  border:1px solid rgba(0,0,0, 1);
}
.color-single{
  transition: all .4s;
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 2% 0 2%;
  width: 45%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, .5);
}
.color-single h4{
  position: absolute;
  top: -15px;
  margin: 0 0 0 1px;
  font-size: .8rem;
}
.color-single p{
  margin: -5px 0 0 4px;
}
.color-single img{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  opacity: .6;
  transition: all .4s;
}
.color-single-display{
  width: 15px;
  height: 15px;
  margin: 0 0 0 5px;
  border: 1px solid rgba(0,0,0, .3);
}
.suit-display-img .img2{
  position: relative;
  margin: -80px 0 0 100px;
  height: 60%;
}
.suit-display-img img{
  position: relative;
  margin: 246px 0 0 -50px;
  height: 60%;
}


.price-banner-wrap h2{
font-size: 1.3rem;
}
.price-banner-wrap{
  transition: all .8s;
  position: absolute;
  left:-350px;
  top: 60px;
  width: 26%;
  height: 40px;
  background: #50aaed;
  color: white;
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}
.suit-display-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 420px;
}
@-moz-document url-prefix() {
  #front-stitching {
      position: absolute;
      height: 49%;
      margin: -126px 0 0 101px;
  }


}
.builder-input-half:first-child{
  margin: 0 0 0 2%;
}
.builder-input-full{
  width: 95%;
}
.builder-input-half{
  width: 43%;
}
.builder-input{
  margin: 5px;
  border: 1px solid rgba(0,0,0, .4);
  padding: 3px;
  border-radius: 3px;
}
.cf-input-submit:hover{
  background: black;
  color: white;
}
.cf-input-submit{
  transition: all .4s;
  margin: 10px;
  border: 1px solid rgba(0,0,0, .4);
  padding: 5px 10px;
  border-radius: 3px;
}
.cf-input{
  width: 90%;
}
.contact-form p{

}
.builder-btn:hover{
  background: BLACK;
  color: white;
}
.builder-btn{
  transition: all .4s;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  width: 180px;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-align: center;
  border: 1px solid rgba(0,0,0, .4);
}
.builder-btns{
  top: 5px;
  position: absolute;
  display: flex;
  padding: 5px 15px;
}
/*Dropdowns*/

.picker-dropdown{
  position: fixed;
  display: flex;
  flex-direction: column;

  align-items: center;
  display: none;
  width: 21%;
  border: 1px solid black;
  border-radius: 3px;
  top:15.45%;
  left: 3.2%;
  height: auto;
  z-index: 1;
  background: white;
  padding: 2px;
  box-shadow: -1px 1px 6px rgba(0,0,0, .3);
}
.color-single-dropdown{
  width: 90%;
  z-index: 8;
  margin: 3px;
}
.picker-dropdown-p{
  margin: 5px !important;
}
.color-single-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@import "compass/css3";

.logo {
  width: 200px;
  height: 164px;
}
.upper-left-arm-svg{

}
.suit-images{
  position: absolute;
  z-index: 5;
  top:0;
  width: 245px;
  border: 1px solid black;
  height: 100%;
}
.suit-titles{
  position: absolute;
  top: 5px;
  font-size: 1.5rem;
}

@-moz-document url-prefix() {
  #front-stitching {
      position: absolute;
      height: 49%;
      margin: -126px 0 0 101px;
  }
}

.suit-titles{
  position: absolute;
  top: 5px;
  font-size: 1.5rem;
}
#down-chevron{
  min-width: 10px;
  margin: 0 0 0 20%;
}
#front-suit-display{
  justify-content: flex-end;
  align-items: flex-end;
}
#back-suit-display{
  justify-content: flex-start;
  align-items: flex-end;
}
/*SVG FRONT IMAGE COLLECTION*/
/*SVG images for suit*/
#front-lineing{
  z-index: 2;
  position: absolute;
  width: 80%;
  left: 10px;
  top: 10px;
}
#fins{
  position: absolute;
  width: 11.6%;
  left: 76px;
  top: 272px;
  z-index: 1;
}
#front-pipeing{
  z-index: 3;
  position: absolute;
  width: 46.5%;
  left: 50px;
  top: 31px;
}
#fc{
  position: absolute;
      width: 23%;
      left: 90px;
      top: 10px;
}
#frla{
  position: absolute;
  width: 20%;
  left: 12px;
  top: 137px;
}
#frs{
  position: absolute;
  width: 15.2%;
  left: 13px;
  top: 69px;
}
#frside{
  position: absolute;
  width: 23.2%;
  left: 34px;
  top: 34px;
}
#frc{
  position: absolute;
  width: 26.9%;
  left: 32px;
  top: 38px;
}
#flc{
  position: absolute;
  width: 39.2%;
  left: 86px;
  top: 32px;
}
#flside{
  position: absolute;
     width: 21%;
     left: 137px;
     top: 23px;

}
#fls{
  position: absolute;
  width: 19.5%;
  left: 159px;
  top: 46px;
}
#flla{
  position: absolute;
  width: 14%;
  left: 173px;
  top: 138px;
}
#frly{
  position: absolute;
  width: 30%;
  left: 30px;
  top: 273px;
}
#flly{
  position: absolute;
  width: 27%;
  left: 117px;
  top: 319px;
}
#frul{
  position: absolute;
  width: 19.6%;
  left: 28px;
  top: 339px;
}
#flul{
  position: absolute;
  width: 25%;
  left: 121px;
  top: 342px;
}
#frll{
  position: absolute;
  width: 19.3%;
  left: 30px;
  top: 389px;
}
#flll{
  position: absolute;
  width: 22.4%;
  left: 126px;
  top: 395px;
}
#frbprev{
  position: absolute;
  width: 5.6%;
  left: 54px;
  top: 135px;
}
#flbprev{
  position: absolute;
  width: 9.2%;
  left: 186px;
  top: 44px;
}
/*BACK*/
#boso{
  position: absolute;
  width: 102%;
  left: -10px;
  top: 15px;
  z-index: 2;
}
#blla{
  position: absolute;
  width: 20.3%;
  left: -10px;
  top: 63px;
}
#brla{
  position: absolute;
  width: 24.9%;
  left: 182px;
  top: 56px;
}
#bleb{
  position: absolute;
  width: 11.9%;
  left: 8px;
  top: 129px;
}
#breb{
  position: absolute;
  width: 13.2%;
  left: 168px;
  top: 141px;
}
#blua{
  position: absolute;
  width: 12.8%;
  left: 14px;
  top: 80px;
}
#brua{
  position: absolute;
  width: 18.8%;
  left: 148px;
  top: 67px;
}
#blsh{
  position: absolute;
  width: 15.2%;
  left: 31px;
  top: 41px;
}
#brsh{
  position: absolute;
  width: 25.5%;
  left: 136px;
  top: 29px;
}
#back{
  position: absolute;
  width: 59%;
  left: 47px;
  top: 30px;
}
#blly{
  position: absolute;
  width: 27.7%;
  left: 38px;
  top: 267px;
}
#brly{
  position: absolute;
  width: 23%;
  left: 116px;
  top: 264px;
}
#blcr{
  position: absolute;
      width: 18.3%;
      left: 56px;
      top: 241px;
}
#brcr{
  position: absolute;
  width: 22%;
  left: 107px;
  top: 236px;
}
#blul{
  position: absolute;
  width: 21.5%;
  left: 52px;
  top: 323px;
}
#brul{
  position: absolute;
  width: 27.6%;
  left: 125px;
  top: 321px;
}
#blml{
  position: absolute;
  width: 16.3%;
  left: 53px;
  top: 292px;
}
#brml{
  position: absolute;
  width: 19.2%;
  left: 114px;
  top: 294px;
}
#blll{
  position: absolute;
  width: 23%;
  left: 36px;
  top: 305px;
}
#brll{
  position: absolute;
  width: 19%;
  left: 115px;
  top: 307px;
}
#bcol{
  position: absolute;
  width: 22%;
  left: 88px;
  top: 16px;
}
#bins{
  position: absolute;
  width: 11.5%;
  left: 92px;
  top: 300px;
}
/*BACK*/
.suit-display{
  box-shadow: -1px 1px 6px rgba(0,0,0, .3);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80vh;
  margin: 10px;
  border-radius: 5px;
}
.suit-display-wrapper{
  position: relative;
  display: flex;
  min-width: 250px;
  min-height: 450px;
  max-width: 250px;
  max-height: 450px;
}
  @media screen and (max-width: 780px) {
    .zDex-1{
      z-index: 2 !important;
    }
    .picker-dropdown{
        width: 80%;
    }
    #build-wrapp{
      margin-bottom: 40px;
    }
    .build-wrap{
      flex-wrap: wrap;
      min-height: 370vh;
      margin: 0 0 0 0;
    }
    .build-full{
      width: 90%;
      height: 300vh;
    }
    .suit-display-img{
      margin: 110px 0 0 0;
    }
    .suit-display{
      min-height: 140vh;
      width: 100%;
      margin: 0 0 0 0;
      flex-direction: column;
    }
    .suit-images{
      margin: 0 0 0 -55px;
    }
    .color-picker{
      min-height: 100vh;
      width: 100%;
      margin: 0 0 0 0;
    }
    .contact-form{
      min-height: 100vh;
      width: 90%;
      margin-left: 0 0 0 0;
    }
    .suit-display-back{
      margin: -200px 0 0 -246px;
    }
    .suit-display-front{
      margin-left: -246px;
    }
    .suit-display-img img{
      top: -37px;
      left: -34px;
    }
    .suit-display-back-images{
      display: flex;
      margin:-161px 0 0 33px;
    }
    .pop-confirm-wrap{
      height: 66vh;
      position: fixed;
    }
    .price-banner-wrap{
      top: 52px;
      height: 84px;

    }
  }
.front-suit-display-wrap{
  border: 1px solid black;
}
